.item_container {
  width: 250px;
  margin: 10px;
  padding-top: 50px;
}

.item_image {
  width: 200px;
}

.rating {
  font-size: 12px;
  font-weight: 700;
}

.company_name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item_name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}

.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.original_price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.btn_add_bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.btn_delete_bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: red;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.banner_container {
  margin: 40px 0;
}

.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}

.action_container {
  text-decoration: none;
}

a.action_container:link {
  color: black;
}

/* @media (min-width:320px) and (max-width:375px) {
  .item_container {
    width: 150px;
    padding-bottom: 20px;
    margin: none;
  }

  .item_image {
    width: 130px;
    margin: none;
  }

  .company_name {
    font-size: 15px;
  }

  .item_name {
    font-size: 11px;
  }

  .price {
    font-size: 12px;
  }

  .btn_add_bag {
    font-size: 13px;
    width: 90%;
  }

  .btn_delete_bag {
    font-size: 13px;
    width: 90%;
  }
}

@media (min-width:374.98px) and (max-width:424.97px) {


  .company_name {
    font-size: 18px;
  }

  .item_name {
    font-size: 15px;
  }

  .price {
    font-size: 17px;
  }

  .btn_add_bag {
    font-size: 20px;
    width: 90%;
  }

  .btn_delete_bag {
    font-size: 20px;
    width: 90%;
  }
} */